/*styling the body*/
body {
  font-family: 'Montserrat', sans-serif;
  font-weight: normal;
  font-size: 15px;
  line-height: 30px;
  color: #838C95;
}

/*styling grid*/
.grid-container {
  display: grid;
  grid-template-rows: auto auto auto auto auto;
  padding: 10px;
}
.grid-item {
  border: 1px solid white;
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
/*styling the links*/
a:hover {
  font-style: italic;
}

a:link {
  text-decoration: none;
}

/*styling the lists*/
li {
  float: left;
  padding: 0
}

/*styling the nav bar*/
.navBar{
    background: url("background.jpg");
    position:sticky;
    top: 0;
    overflow: hidden;
    z-index: 10;
  }
#nav {
    position: sticky;
    width: 100%;
    background-image: url("background.jpg")
    color: #B288C6;
    float: left;
    padding: 10px 20px 10px 15px;
    font-size: 30px;
    display: block;
  }


  #nav li{
    padding-right: 15px;
    margin-left: 100px;

  }

  #nav a {
    color: #B288C6;
  }

.intro {
  display: block;
  position: relative;
}

footer {

  text-indent: 20px;
  float: left;
  padding: 0;
  margin: 0 0 3em 0;
  list-style-type: none;
 }

h1 {
  font-size: 50px;
  text-align: center;
  color: #B288C6;
}

h3{
  text-align: center;
  color: #B288C6;
}

/*styling all headers to be alike*/
h3#About {
    padding: 25px;
    color:#B288C6;
    background-image: url("background.jpg");
    font-size: 30px;
}

h3#Education {
    padding: 25px;
    color: #B288C6;
    background-image: url("background.jpg");
    font-size: 30px;
}

h3#Experience {
    padding: 25px;
    color: #B288C6;
    background-image: url("background.jpg");
    font-size: 30px;
}

h3#Tertiary {
  padding: 25px;
  color: #B288C6;
  background-image: url("background.jpg");
  font-size: 30px;
}

h3#Contact {
  padding: 25px;
  color: #B288C6;
  background-image: url("background.jpg");
  font-size: 30px;
}
